<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.izzp.androidappfileexplorer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".FileExplorerActivity"
            android:taskAffinity=".afe" />
        <activity
            android:name=".TextViewerActivity"
            android:taskAffinity=".afe">
            <intent-filter>
                <action android:name="me.izzp.androidappfileexplorer.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewerActivity"
            android:taskAffinity=".afe">
            <intent-filter>
                <action android:name="me.izzp.androidappfileexplorer.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioViewerActivity"
            android:taskAffinity=".afe">
            <intent-filter>
                <action android:name="me.izzp.androidappfileexplorer.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoViewerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:taskAffinity=".afe">
            <intent-filter>
                <action android:name="me.izzp.androidappfileexplorer.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBViewerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:taskAffinity=".afe">
            <intent-filter>
                <action android:name="me.izzp.androidappfileexplorer.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="db/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:taskAffinity=".afe" />
    </application>
</manifest>